*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto' , 'Open Sans', 'Helvetica Neue',
    'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: calc(500px);
  margin: auto;
  border : blue solid 3px;
  height: calc(100vh - 2px);
}

header{
  display: flex;
  width: 100%;
  background-color: blue;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
}

main{
  display: flex;
  width: 100% ;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

}

footer{
  display: flex;
  width: 100% ;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: blue;
}